// These are the colors that I will use for ApiCoat

// Brand Colours
$colorPrimary: #002147;
$colorSecondary: #a79d96;
$colorTertiary: #f3f1ee;
$colorLightPrimary: #122f53;

// General/secondary colours
$colorDarkBlue: #001c3d;
$colorWashedOutBlue: #193658;
$colorCopyrightGrey: #c7c2bc;
$colorBeigeGrey: #f3f1ec;
$colorBrownGrey: #001c3d;
$colorFilterFormGreen: #043946;
$colorIconBlueGrey: #a1c4d0;
$colorTeal: #003947;
$colorVeryLightBlue: #f0f5f8;
$colorCookieBar: #00152e;
$colorBlueGrey: #353c47;

// Link colours
$colorLink: #3277ae;
$colorLinkHover: #44687d;
$colorAltLinkHover: #be0f34;
$colorLinkHeader: #70a9d6;
$colorLinkOverlay: #98c1e1;

// Shades
$colorBlack: #000000;
$colorOffBlack: #333333;
$colorMidGrey: #7a736e;
$colorDarkGrey: #a6a6a6;
$colorLightGrey: #e0ded9;
$colourVLightGrey: #f9f8f5;
$colorWhite: #ffffff;

// Custom blog colours
$colorScienceBlog: #0f7361;
$colorScienceBlogButton: #09332b;
$colorArtsBlog: #721627;
$colorArtsBlogButton: #330d14;
$colorBooksBlog: #cf7a30;
$colorBooksBlogButton: #9c4700;

// Graduate country page colours
$colorGraduateLightBlue: #9eceeb;
$colorGraduateBlue: #5f9baf;
$colorGraduateNavyBlue: #44687d;
$colorGraduateGreyBlue: #a1c4d0;
$colorGraduateDarkGreen: #69913b;
$colorGraduateLightGreen: #aab300;
$colorGraduateOrange: #cf7a30;
$colorGraduateYellow: #f5cf47;
$colorGraduateDarkRed: #872434;
$colorGraduateRed: #be0f34;
$colorGraduatePink: #ebc4cb;
$colorGraduateGrey: #a79d96;

// Error colours
$colorStatus: #7dbc23;
$colorWarning: #bc9a23;
$colorError: #be0f34;
$colorErrorLight: #fff0f3;

// Social media colours
$colorCherry: #7dbc23;
$colorPurple: #bc9a23;
$colorRed: #be0f34;
$colorLightBlue: #fff0f3;
$colorDeepBlue: #7dbc23;
$colorLagoonBlue: #bc9a23;
$colorWeibo: #be0f34;
$colorGreen: #fff0f3;
$colorOrange: #7dbc23;
$colorGooglePlus: #bc9a23;
$colorInstagram: #be0f34;