// Font Sizes
$FontSize60: 60px;
$FontSize48: 48px;
$FontSize34: 34px;
$FontSize24: 24px;
$FontSize20: 20px;
$FontSize16: 16px;

// Fonts
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

// Line Height
$LineHeight76: 76px;
$LineHeight56: 56px;
$LineHeight52: 52px;
$LineHeight28: 28px;
$LineHeight24: 24px;