#ApicoatMenu {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.NavbarItems {
    background: #003262;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 96vw;
    justify-content: end;
    margin-right: 2rem;
    margin-right: 0px;
    top: 0;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.demoButton {
    padding: 11px 16px 9px 16px;
    border-radius: 100px;
    border: 1px solid #00b0da;
    background: linear-gradient(134.49deg, #003262 0%, #2d637f 105.05%);
    margin-left: 24px;
    margin-right: 0px;
}

.demoButton:hover {
    border-radius: 100px;
    border: solid 1px #00b0da;
    color: #fff;
    background: linear-gradient(134.49deg, #2d637f 0%, #003262 105.05%);
    text-decoration: none;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.loginButton {
    margin-left: 105px;
}

.size1 {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.15px;
    font-family: 'Roboto', sans-serif;
}

.size1:hover {
    color: #ff9c31;
    text-decoration: none;
}

.size2 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.18px;
    font-family: 'Roboto', sans-serif;
}

.size2:hover {
    color: #ff9c31;
    text-decoration: none;
}

.size3 {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-right: 24px;
}



.NavbarMenuItemLogo {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 29.26px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.NavbarMenuItemLogo:hover {
    color: #ddd;
    text-decoration: none;
}

.navbar-logo {
    margin-bottom: 0px;
    transform: translate(25%, 0%);
}

@media screen and (max-width: 1240px){ /* iPad Pro */
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin-bottom: 0rem;
        padding-left: 0px;
    }

    .nav-menu.active {
        background: linear-gradient(90deg, rgba(21, 67, 240, 0) -550%, rgb(21,67,240) 100%);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 1.2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #00b0da;
        border-radius: 0;
        color: #ddd;
    }

    .demoButton {
       display: none;
    }

    .loginButton {
        margin-left: 0px;
    }

    .navbar-logo {
        position: absolute;
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 38%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 13px;
        width: 80%;
        background: #00b0da;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #6568f4;
        transition: 250ms;
    }

    .size1 {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .size2 {
        font-size: 20px;
    }
    
    .size3 {
        font-size: 20px;
    }

    .NavbarMenuItemLogo {
        margin-bottom: 10px;
    }
}

